<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/styleForm.css">
    <title>Eterspire - Help build Eterspire</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1 class="form-title-alt">Submit feedback & Report bugs</h1>
            <div class="title-img">
                <h1 class="form-title">Submit feedback <br> & Report bugs</h1>
                <img class="form-img" src="../images/form-img.png" alt="Glitchy character">
            </div>
            <div class="forms">
                <form class="form-content" method="POST" action="/report">
                    <div class="structure">
                        <div class="input">
                            <label for="user">
                                Username
                            </label>
                            <input id="user" type="text" placeholder="username" name="user">
                        </div>

                        <div class="input">
                            <label for="mail">
                                E-mail
                            </label>
                            <input type="text" id="mail" placeholder="example@mail.com" name="mail">
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="structure">
                        <div class="report">
                            <h3>Select the type of submit</h3>
                            <div class="options">
                                <div class="box">
                                    <input type="radio" name="type" id="Bug report" value="Bug">
                                    <label for="type"> Bug report</label>
                                </div>

                                <div class="box">
                                    <input type="radio" name="type" id="A suggestion..." value="Suggestion">
                                    <label for="type"> A suggestion...</label>
                                </div>

                                <div class="box">
                                    <input type="radio" name="type" id="An idea!" value="Idea">
                                    <label for="type"> An idea!</label>
                                </div>

                                <div class="box">
                                    <input type="radio" name="type" id="I need help" value="Help">
                                    <label for="type">I need help</label>
                                </div>

                                <div class="box">
                                    <input type="radio" name="type" id="Other" value="Other">
                                    <label for="type"> Other</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="structure">
                        <div class="input">
                            <label for="report"> Tell us bellow</label>
                            <textarea name="report" id="report" cols="50" rows="9" placeholder="..."></textarea>
                        </div>
                    </div>
                    <button class="submit" type="submit">Submit</button>
                </form>
            </div>
        </div>  
    </div>

    <footer>
        <%- include ('../partials/footer.ejs') %> 
    </footer>
</body>
</html>