<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="shortcut icon" href="/root/images/web_favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap" rel="stylesheet">
    <title>Eterspire - Help build Eterspire</title>
</head>
<body>
    
    <div class="container">
        <h1 class="form-title-alt">Submit feedback & Report bugs</h1>
        <div class="form-container">
            <div class="title-img">
                <h1 class="form-title">Submit feedback <br> & Report bugs</h1>
                <img class="form-img" src="../images/form-img.png" alt="Glitchy character">
            </div>
            <div class="forms">
                <form>
                    <div class="structure">
                        <div class="input">
                            <label for="user">
                                Username
                            </label>
                            <input id="user" type="text" placeholder="username">
                        </div>

                        <div class="input">
                            <label for="mail">
                                E-mail
                            </label>
                            <input type="text" id="mail" placeholder="example@mail.com">
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="structure">
                        <div class="report">
                            <h3>Select the type of submit</h3>
                            <div class="options">
                                <div class="box">
                                    <input type="radio" name="submit-option">
                                    <label> Bug report</label>
                                </div>

                                <div class="box">
                                    <input type="radio" name="submit-option">
                                    <label> A suggestion...</label>
                                </div>

                                <div class="box">
                                    <input type="radio" name="submit-option">
                                    <label> An idea!</label>
                                </div>

                                <div class="box">
                                    <input type="radio" name="submit-option">
                                    <label>I need help</label>
                                </div>

                                <div class="box">
                                    <input type="radio" name="submit-option">
                                    <label> Other</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="structure">
                        <div class="input">
                            <label> Tell us bellow</label>
                            <textarea name="" id="" cols="50" rows="9" placeholder="..."></textarea>
                        </div>
                    </div>
                    <button class="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <footer>
        Copyright © Lartu and Tejo, 2020 - 2021. All rights reserved.
    </footer>

</body>
</html>